{% extends "base.html" %}

{% block title %}Galeria de Cortes - Barber GM{% endblock %}

{% block content %}
<section class="container">
    <h1>Meus Trabalhos</h1>
    <p>Inspire-se com alguns dos cortes realizados por mim</p>
    
    <div class="gallery-grid">
        <img src="static\img\FOTO1.jpg" alt="Foto de um corte de cabelo">
        <img src="static\img\FOTO2.jpg" alt="Foto de um corte de cabelo">
        <img src="static\img\FOTO3.jpg" alt="Foto de uma barba estilizada">
        <img src="static\img\FOTO7.jpg" alt="Foto de um corte de cabelo">
        <img src="static\img\FOTO9.jpg" alt="Foto de um corte de cabelo">
        <img src="static\img\FOTO11.jpg" alt="Foto de um corte de cabelo">
        <img src="static\img\FOTO5.jpg" alt="Foto de um corte de cabelo">
        <img src="static\img\FOTO4.jpg" alt="Foto de um corte de cabelo">
        <img src="static\img\FOTO13.jpg" alt="Foto de um corte de cabelo">
        <img src="static\img\foto nova1.jpg" alt="Foto de um corte de cabelo">
        <img src="static\img\fotonova.jpg" alt="Foto de um corte de cabelo">
        <img src="static\img\fotonova2.jpg" alt="Foto de um corte de cabelo">
    </div>
</section>
{% endblock %}